
header{
   height: 70px;
   padding: 10px;
    
}

header img{
     float: left;
   }

nav{
   float: right;
   font-family: cursive;
    }

 a{
    
    text-decoration: none;
    color: black;
    border-bottom: solid 2px ;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
}

main{
    
    padding-top: 20px;
    height: 650px;         
}

section{
        
    width: 80%;
    height: 650px;
    float: left;
    background-color: aliceblue;       
}

aside{
    width: 18%;
    height: 600px;
    float: right;       
}
aside img{
    height: 40%;
    width: 80%;
    margin: 20px;
}

footer{
    margin-top: 5px;
    background: linear-gradient(to bottom, aliceblue, grey);
    text-align: center;
    color: black;
    height: 50px;
    font-family: cursive;
    font-style: italic;  
}

div{
    text-align: center;
}
#d1{
    height: 15%;
   
}

#d2{
    height: 84%;
    
}

iframe{
    width: 98%;
    height: 95%;
    border: none;    
}

figure{
 
  display:  inline-block;
  text-align: center;
 
}

figure img{
  height: 100px;
   width: 200px;
  
}


figcaption{

    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-style:italic;
    background-color: azure;
  
  }

video{
    
    width: 100%;
   height:400px ;
     
}



  form{
      width: 50%;
      margin: auto;
      margin-top: 50px;
      background: linear-gradient(to bottom, aliceblue, grey);
  }
  label{
      margin:5px ;
  }
span{
    display: inline-block;
    width: 60px;
    font-size: 20px;
    background-color: beige;
    font-style: italic;
    
}
nav a :hover{transition: all 1s;
color: blue;}
aside img{box-shadow:5px 5px 15px black ;}
img:active{transition: all 0.5s;
transform: scale(1.5);}
 